<link rel="stylesheet" href="http://handsontable.com/dist/jquery.handsontable.full.css">
<div>
<h1>Appointment System</h1>

<h2>Patient Appointments</h2>
<hot-table [colHeaders]="true" [data]="appointments" dropdownMenu="true" filters="true"
  licenseKey="non-commercial-and-evaluation">
  <hot-column data="doctor_id" title="Doctor Id"></hot-column>
  <hot-column data="doctor_name" title="Doctor Name"></hot-column>
  <hot-column data="patient_id" title="Patient Id"></hot-column>
  <hot-column data="patient_name" title="Patient Name"></hot-column>
  <hot-column data="patient_age" title="Patient Age"></hot-column>
  <hot-column data="patient_gender" title="Patient Gender"></hot-column>
  <hot-column data="appointment_id" title="Appointment Id"></hot-column>
  <hot-column data="appointment_datetime" title="Appointment DateTime"></hot-column>
</hot-table>
<br>
<h3>Fix an Appointment</h3>
<label>Patient ID</label>
<div>
<select class="form-select" #myPatSelect (change)="selectPatient(myPatSelect.value)">
  <option *ngFor="let patient of patients" [value]="patient.patient_id">
    {{patient.patient_id}}
  </option>
</select>
</div>
<div>
<label>Patient Name</label>
<input class="form-control" [(ngModel)]="patient_selected.patient_name" />
</div>

<label>Doctor ID</label>
<div>
<select class="form-select" #myDocSelect (change)="selectDoctor(myDocSelect.value)">
  <option *ngFor="let doctor of doctors" [value]="doctor.doctor_id">
    {{doctor.doctor_id}}
  </option>
</select>
</div>
<div>
<label>Doctor Name</label>
<input class="form-control" [(ngModel)]="doctor_selected.doctor_name" />

<label>Date and Time</label>
<input class="form-control" [(ngModel)]="datetime_selected" />
<br>
<button class="btn btn-primary" (click)="addAppointment()">Add</button>
</div>
</div>

<h3>Delete an Appointment</h3>
<label>Appointment ID</label>
<div>
<select class="form-select" #myAppSelect (change)="selectAppointment(myAppSelect.value)">
  <option *ngFor="let app of appointments" [value]="app.appointment_id">
    {{app.appointment_id}}
  </option>
</select>
<br>
<button class="btn btn-primary" (click)="deleteAppointment()">Delete</button>
</div>
<div>